<div class="bg-gray-50 grid grid-cols-2 gap-4 px-8 py-6 h-full">

  <div class="col-span-1 pr-2 mt-10">
    <h1 class="text-5xl">Create a new category</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa debitis exercitationem fugit ipsa ipsum minima non omnis provident recusandae voluptates.</p>
  </div>

  <div class="bg-white col-span-2 shadow-md border-gray-900/10 px-4 py-10 mt-10 h-fit">
    <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

      <div class="col-span-full">
        <nz-form-label>Name</nz-form-label>
        <nz-form-control>
          <input nz-input nzSize="large" [(ngModel)]="addCategoryForm.name"/>
        </nz-form-control>
      </div>

      <div class="col-span-full">
        <nz-form-label>Status</nz-form-label>
        <nz-form-control nzValidateStatus="validating">
          <nz-select nzAllowClear nzSize="large" name="select-validate" [(ngModel)]="addCategoryForm.status">
            <nz-option *ngFor="let status of getCategoryStatuses()" nzValue="{{ status.status }}" nzLabel="{{ status.status }}"/>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
  </div>

  <div class="col-start-1 mt-10">
    <custom-none-outline-button mat-dialog-close>Cancel</custom-none-outline-button>
  </div>

  <div class="col-end-4 mt-10">
    <custom-primary-button mat-dialog-close (click)="createCategory()">Save</custom-primary-button>
  </div>

</div>
