.ant-btn-custom {
  color: #fff;
  border: none;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
}

.ant-btn-custom:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.primary-btn-flex {
  display: flex;
}
