<div *ngIf="category">
  <div class="px-8 py-8">
    <div>
      <h1 class="text-5xl">Delete Category</h1>
    </div>
    <div class="text-xl">
      Are you sure you want to delete Category - {{ category.name }}
    </div>
    <div class="flex flex-wrap items-center justify-between shrink-0 pt-6">
      <custom-none-outline-button mat-dialog-close [nzSize]="'large'">Cancel</custom-none-outline-button>

      <button mat-dialog-close (click)="deleteCategory()" data-ripple-light="true" data-dialog-close="true"
              class="middle none center bg-gray-800 py-2.5 px-6 font-sans text-sm font-semibold text-white shadow-md shadow-gray-500/20 transition-all hover:shadow-lg hover:shadow-gray-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
        Delete
      </button>
    </div>
  </div>
</div>
