<div
  class="hidden absolute z-[999] w-[24rem] top-36 right-48 grid-cols-1 overflow-hidden whitespace-normal break-words rounded-lg border border-blue-gray-50 bg-white p-0 font-sans text-sm font-normal text-blue-gray-500 shadow-lg shadow-blue-gray-500/10 focus:outline-none"
  aria-labelledby=":r3a:-label" aria-describedby="popover-with-image" id="filter-popover"
  data-popover="popover-with-image" role="dialog">
  <div class="">
    <div class="px-4 py-3 bg-gray-50">
      <p class="block mb-0 font-sans text-lg antialiased font-bold text-blue-gray-900">
        Filter
      </p>
    </div>
    <hr class="h-0.5 border-t-0 bg-gray-100 dark:bg-white/10" />
    <div class="px-4 pt-3">
      <div class="mb-5 mr-8">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
        <input type="text" id="name" class="border border-gray-300 text-gray-900 text-sm rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
      </div>
      <div class="mb-5">
        <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
        <select id="country" name="country" autocomplete="country-name"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:max-w-xs sm:text-sm sm:leading-6">
          <option *ngFor="let status of getCategoryStatuses()" value="{{ status.status.toString() }}"> {{ status.status.toString() }} </option>
        </select>
      </div>
    </div>
    <hr class=" h-0.5 border-t-0 bg-gray-100 dark:bg-white/10"/>
    <div class="grid grid-rows-1 grid-flow-col px-4 py-4 bg-gray-50">
      <div class="row-span-1">
        <button
          class="select-none rounded-md border bg-gray-100 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-800 transition-all hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
        >
          Reset
        </button>
      </div>
      <div class="grid row-span-2 justify-items-end">
        <button
          class="h-9 align-middle select-none font-sans font-bold text-center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2.5 px-5 rounded-lg bg-gray-800 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
          type="button">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
